<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>{{name}}'s Dashboard</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-secondary new-post">Create a New Blog Post</button>
    </div>
  </div>
  <br> 
  <br>
  <div id="post-form" class="row mt-4 hidden">
    <div class="col">
      <h3>Create a New Post:</h3>
      <br>
      <form class="new-post-form">
        <div class="mb-3">
          <label for="post-name" class="form-label">Post Name:</label>
          <input class="form-control" type="text" id="post-name" name="post-name" />
        </div>
        <br>
        <div class="mb-3">
          <label for="post-desc" class="form-label">Description:</label>
          <textarea class="form-control" id="post-desc" name="post-desc"></textarea>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-secondary">Create</button>
        </div>
      </form>
    </div>
  </div>
  {{#if posts.length}}
  <div class="post-list row mt-4">
    <div class="col">
      <h3>Current Posts:</h3>
      {{#each posts as |post|}}
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title"><a href="/post/{{post.id}}">{{post.name}}</a></h4>
          <h5 class="card-text">{{post.description}}</h5>
          <div class="btn-group" role="group">
            <button class="btn btn-danger delete-button" data-id="{{post.id}}">Delete</button>
            <button class="btn btn-secondary edit-button" data-id="{{post.id}}">Update</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>
<script src="./js/post.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/edit.js"></script>