<h1>{{name}}'s Dashboard</h1>

<div>
  <button class="new-post"> create a new blog post</button>
</div>

<div id="post-form" class="hidden">
  <h3>Create a New Post:</h3>

  <form class="new-post-form">
    <div>
      <label for="post-name">post name:</label>
      <input class="form-input" type="text" id="post-name" name="post-name" />
    </div>
    <div>
      <label for="post-desc">description:</label>
      <textarea id="post-desc" name="post-desc"></textarea>
    </div>
    <div>
      <button type="submit">Create</button>
    </div>
  </form>
</div>

{{#if posts.length}}
  <div class="post-list">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
  
      <div>
        <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div>
        <p>{{post.description}}</p>
      </div>
      <div>
        <button class="delete-button" data-id="{{post.id}}">DELETE</button>
        <button class="edit-button" data-id="{{post.id}}">UPDATE</button>
      </div>
    
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/post.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/edit.js"></script>