<div>
    <h2>{{name}}</h2>
</div>
<div>
    <p>{{description}}</p>
</div>
<div>
    <p>By: {{user.name}}</p>
</div>
<div>
    <p>Created on: {{format_date date_created}}</p>
</div>
<div>
    <p>-----------------------------------</p>
</div>

{{#if comments.length}}
    <h3>Comments:</h3>
        {{#each comments as |comment|}}
        <div>
            <p>{{comment.comment}}</p>
        </div>
        <div>
            <p>by: {{comment.user.name}}</p>
        </div>
        <div>
            
        </div>
        <div>
            <p>on: {{ format_date comment.date_created }}</p>
        </div>
        <div>
            <p>-----------------------------------</p>
        </div>
        {{/each}}
  </div>
{{/if}}

 {{#if logged_in}}
<form id="comment-form">
    <label for="comment">Comment on this post:</label>
    <div>
        <textarea id="comment" name="comment"></textarea>
    </div>
    <div>
        <button type="submit">submit comment</button>
    </div>
    <input type="hidden" id="hidden-id" value="{{id}}">
</form>
 {{/if}}

<script src="/js/comment.js"></script>